@import '/src/style/constants';

.wrapper {
  width: 100%;
  height: calculatePcVw(500px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputs {
    width: calculatePcVw(400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .email {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: calculatePcVw(5px);
      height: calculatePcVw(40px);

      input {
        width: calculatePcVw(300px);
        height: 85%;
        color: $black;
        box-sizing: border-box;

        &:focus {
          outline-color: $defaultColor;
        }
      }

      .btn {
        width: calculatePcVw(75px);
        height: calculatePcVw(25px);
        border: 0;
        border-radius: 5px;
        outline: none;
        background-color: $defaultColor;
        color: $white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: $hoverBtnColor;
        }
      }
    }

    .password {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      height: calculatePcVw(40px);

      input {
        width: calculatePcVw(300px);
        height: 85%;
        color: $black;
        box-sizing: border-box;

        &:focus {
          outline-color: $defaultColor;
        }
      }
    }

    .username {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: calculatePcVw(5px);
      height: calculatePcVw(40px);

      input {
        width: calculatePcVw(300px);
        height: 85%;
        color: $black;
        box-sizing: border-box;

        &:focus {
          outline-color: $defaultColor;
        }
      }

      .btn {
        width: calculatePcVw(75px);
        height: calculatePcVw(25px);
        border: 0;
        border-radius: 5px;
        outline: none;
        background-color: $defaultColor;
        color: $white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: $hoverBtnColor;
        }
      }
    }

    .job {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: calculatePcVw(5px);
      height: calculatePcVw(40px);

      select {
        box-sizing: border-box;
        width: calculatePcVw(300px);
        height: 85%;


        &:focus {
          outline-color: $defaultColor;
        }
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: calculatePcVw(5px);
      width: calculatePcVw(300px);
      height: calculatePcVw(80px);

      .btn {
        height: calculatePcVw(35px);
        border: 0;
        border-radius: 10px;
        outline: none;
        background-color: $defaultColor;
        color: $white;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: $hoverBtnColor;
        }

        &.disabled {
          background: $gray;
          color: $black;
          filter: brightness(0.5);
          cursor: auto;
        }
      }
    }
  }
}
