@import '/src/style/constants';

.wrapper {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;

  .rooms {
    width: 300px;
    height: 500px;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: scroll;
    user-select: none;

    .room {
      width: 100%;
      min-height: 100px;
      border: 1px solid $darkGray;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &.selected {
        background-color: $darkGray;
      }
    }
  }
}
