@import '/src/style/constants';

.wrapper {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .postList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .post {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: calculatePcVw(20px);
      align-items: center;
      .postId {

      }

      .title {

      }

      .deadline {

      }

      .status {

      }

      .username {

      }
    }
  }

  .btns {
    .btn {

    }
  }
}
