@import '/src/style/constants';

.wrapper {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    background-color: red;
    color: $white;
  }

  .filtering {
    .type {

    }

    .skill {

    }

    .job {

    }
  }


  .postList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .table {
      .thead {
        .postTitle {
          display: flex;
          flex-direction: row;
          justify-content: start;
          text-align: center;
          gap: 20px;

          .postIdTitle {
            width: 50px;
          }

          .titleTitle {
            width: 300px;
          }

          .deadlineTitle {
            width: 100px;
          }

          .statusTitle {
            width: 75px;
          }

          .usernameTitle {
            width: 100px;
          }
        }
      }

      .tbody {
        .post {
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 20px;

          .postId {
            width: 50px;
            text-align: center;
          }

          .title {
            width: 300px;
            text-align: start;

            a:-webkit-any-link {
              color: $black;
              cursor: pointer;
              text-decoration: none;

              &:hover {
                color: $darkGray;
              }
            }
          }

          .deadline {
            width: 100px;
            text-align: center;
          }

          .status {
            width: 75px;
            text-align: center;
          }

          .username {
            width: 100px;
            text-align: center;
          }
        }
      }
    }
  }

  .btns {
    .btn {

    }
  }
}
