@import '/src/style/constants';

.wrapper {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
  color: $defaultColor;
  position: relative;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $defaultColor;
  height: 100px;
  padding: 0 50px;
  font-size: $pc-footer;

  .text {

  }

  .members {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    .member {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .githubImage {
        align-items: center;
        height: 25px;
        cursor: pointer;

        img {
          height: 25px;
        }
      }
    }
  }
}
