@import '/src/style/constants';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
  color: $defaultColor;
  position: relative;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $defaultColor;
  height: 100px;
  padding: 0 calculatePcVw(50px);
  font-size: calculatePcVw($pc-footer);

  .text {

  }

  .members {
    margin-right: calculatePcVw(50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calculatePcVw(15px);

    .member {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .githubImage {
        align-items: center;
        height: calculatePcVw(25px);
        cursor: pointer;

        img {
          height: calculatePcVw(25px);
        }
      }
    }
  }
}
