@import 'src/style/constants';

html {
  height: 100%;
}

body {
  font-family: PoppinsRegular, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}