@import 'src/style/constants';

html {
  min-width: 900px;
  height: 100%;

  ::-webkit-scrollbar {
    width: 0.2em;
    background-color: #000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
  }
}

body {
  font-family: PoppinsRegular, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.ajs-message {
  color: $white;
  font-size: 12px;
}

.react-datepicker-wrapper {
  height: calculatePcVw(40px);

  .react-datepicker__input-container {
    height: calculatePcVw(40px);
  }
}
