@import 'src/style/constants';

html {
  min-width: 900px;
  height: 100%;
  user-select: none;

  // TODO add custom scrollbar
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: PoppinsRegular, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.ajs-message {
  color: $white;
  font-size: 12px;
}
